#header{
	text-align: center; 
}

#footer{
	text-align: center;
}

a:link {
	color: red;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: underline;
}
