@font-face {
	font-family: 'Jura'
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.googleapis.com/css?family=Jura");
}

#header{
	text-align: center; 
}

h1 {
	font-family: 'Jura', sans-serif;
}

.center-pills {
    display: flex;
    justify-content: center;
}

#footer{
	text-align: center;
}


a:link {
	color: red;
	text-decoration: none;
	font-weight: normal;
}

a:visited {
	color: green;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}
a:active{
	color: purple;
	text-decoration: none;
	font-weight: normal;
}