#title{
	text-align: center;
}

#betandroll{
	text-align: center;
}
#results{
	text-align: center;
}
table{
	border: 1px solid black;
	border-collapse:collapse;
	padding: 5px;
}
th{
	border: 1px solid black;
	padding: 5px;
	background: #BDBDBD;
}
button{
	width: 150px;
	height: 75px;
}