@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.googleapis.com/css?family=Orbitron");
}
#albuminfo{
	text-align: center;
}

#groupmembers{
	text-align: center;

}
#tracklist{
	text-align: center;
}
ul{
	width: 13%; margin: auto;
	list-style-position: inside; text-align: left;
}
li{
	font-style: italic;
}
h1, h3{
	font-family: 'Orbitron', sans-serif;

}